<header class="bg-image">
    <div class="overlay"></div>
    <div class="text-center text-white">
        <h1>TE GUSTA EMPRENDER?</h1>
        <hr class="red-line">
        <p>Nosotros te ayudamos a hacerlo</p>
    </div>
</header>
<div class="us-section">
  <div class="row">
      <div class="col-md-6 text-container">
        <h2>Nosotros</h2>
        <hr class="red-line">
        <p>
          En EmprenD, somos apasionados por el espíritu emprendedor y la innovación. 
          Nuestra misión es convertir las ideas en empresas exitosas, ofreciendo a emprendedores 
          visionarios y creativos la oportunidad de hacer realidad sus sueños.

          Nuestro equipo de expertos en desarrollo de negocios y estrategia trabaja mano a mano 
          contigo para dar vida a tu visión. Sabemos que cada proyecto es único, por lo que personalizamos 
          nuestras soluciones para satisfacer tus necesidades específicas y metas comerciales.
        </p>
        <button class="btn btn-danger">
            <i class="bi bi-arrow-right"></i> Botón Rojo
        </button>
      </div>
      <div class="col-md-6 d-flex">
        <img src="../../../assets/images/sc-image.webp" alt="Imagen" class="ms-auto">
      </div>
  </div>
</div>
<div class="services-section d-flex">
  <div class="services-wrapper">
    <div class="row">
      <div class="col-md-12">
        <div class="titulo-seccion">
          <h2>Servicios</h2>
          <hr class="red-line">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-6 col-sm-12">
        <div class="servicio">
          <i class="bi bi-laptop"></i>
          <p>Descripción del Servicio 1</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12">
        <div class="servicio">
          <i class="bi bi-keyboard"></i>
          <p>Descripción del Servicio 2</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12">
        <div class="servicio">
          <i class="bi bi-folder"></i>
          <p>Descripción del Servicio 3</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12">
        <div class="servicio">
          <i class="bi bi-calendar"></i>
          <p>Descripción del Servicio 4</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12">
        <div class="servicio">
          <i class="bi bi-display"></i>
          <p>Descripción del Servicio 5</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12">
        <div class="servicio">
          <i class="bi bi-floppy"></i>
          <p>Descripción del Servicio 6</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="features-section">
  <div class="row">
    <div class="col-md-12">
      <div class="titulo-seccion">
        <h2>Características</h2>
        <hr class="red-line">
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="col">
      <div class="">
        <div class="caracteristica">
          <i class="bi bi-music-note-beamed"></i>
          <h3>Armonía Financiera</h3>
          <p>Esta empresa se especializa en la gestión financiera de proyectos emprendedores. Ofrecen asesoramiento financiero personalizado para asegurarse de que los emprendedores tengan una base sólida para sus ideas. Su enfoque es como una sinfonía, donde cada inversión y gasto se armoniza para lograr un equilibrio perfecto entre riesgo y recompensa.</p>
        </div>
      </div>
      <div class="">
        <div class="caracteristica">
          <i class="bi bi-cash"></i>
          <h3>Caja de Inversiones</h3>
          <p>La compañía actúa como una bóveda segura para los recursos financieros de los emprendedores. Ofrecen servicios de financiamiento y capital de riesgo, asegurándose de que el dinero fluya hacia las ideas prometedoras como un flujo constante de billetes frescos. Su enfoque es maximizar el crecimiento y la inversión.</p>
        </div>
      </div>
      <div class="">
        <div class="caracteristica">
          <i class="bi bi-folder"></i>
          <h3>Gestión Documental Precisa</h3>
          <p>Esta empresa se especializa en la organización y gestión de la documentación esencial para el éxito de un emprendimiento. Actúan como una carpeta virtual, garantizando que todos los documentos, contratos y registros estén alineados y accesibles en cualquier momento. Su enfoque es proporcionar una base sólida de gestión administrativa para liberar a los emprendedores de preocupaciones innecesarias.</p>
        </div>
      </div>
    </div>
    <div class="right-img">
      <img src="../../../assets/images/bg-features.jpg" alt="Imagen Grande">
    </div>
  </div>
</div>


  