<footer class="footer">
    <div class="container">
      <div class="text-center mb-4">
        <!-- Logo -->
        <div class="logo">
            <i class="bi bi-compass-fill"></i>
            emprenD
        </div>
        <!-- Línea roja -->
        <hr class="red-line">
      </div>
      <div class="row">
        <div class="col-md-6">
          <h5>Aceptamos</h5>
          <!-- Iconos -->
          <div class="icon-container">
            <i class="bi bi-credit-card"></i>
            <i class="bi bi-cash"></i>
            <i class="bi bi-currency-bitcoin"></i>
            <i class="bi bi-paypal"></i>
            <i class="bi bi-stripe"></i>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex align-items-center justify-content-end contact">
            <i class="bi bi-envelope"></i>
            <div class="ms-3">
              <h5>Contacto:</h5>
              <p>correo@empresa.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="social-icons">
    <div class="container d-flex justify-content-end">
        <i class="bi bi-twitter"></i>
        <i class="bi bi-facebook"></i>
        <i class="bi bi-linkedin"></i>
        <i class="bi bi-envelope"></i>
        <i class="bi bi-google"></i>
        <i class="bi bi-youtube"></i>
        <i class="bi bi-pinterest"></i>
    </div>
  </div>
  