<div class="card">
  <!-- Mapa aquí -->
  <div class="card-body">
    <h5 class="card-title">Título del Card</h5>
    <hr class="red-line">
    <div class="mb-3">
      <div class="d-flex align-items-center">
        <div class="icon">
          <!-- Icono aquí -->
        </div>
        <div class="descripcion">Descripción 1</div>
      </div>
    </div>
    <div class="mb-3">
      <div class="d-flex align-items-center">
        <div class="icon">
          <!-- Icono aquí -->
        </div>
        <div class="descripcion">Descripción 2</div>
      </div>
    </div>
    <div class="mb-3">
      <div class="d-flex align-items-center">
        <div class="icon">
          <!-- Icono aquí -->
        </div>
        <div class="descripcion">Descripción 3</div>
      </div>
    </div>
  </div>
</div>