<div class="card">
  <div class="mapa" #mapContainer></div>
  <div class="card-body">
    <h3 class="card-title">ubicación</h3>
    <hr class="red-line">
    <div class="mb-3">
      <div class="d-flex align-items-center">
        <i class="bi bi-telephone-fill"></i>
        <p class="descripcion">33 1234 5678</p>
      </div>
    </div>
    <div class="mb-3">
      <div class="d-flex align-items-center">
        <i class="bi bi-envelope-fill"></i>
        <p class="descripcion">info@emprend.com</p>
      </div>
    </div>
    <div class="mb-3">
      <div class="d-flex align-items-center">
        <i class="bi bi-geo-alt-fill"></i>
        <p class="descripcion">Astrazeneca Andares</p>
      </div>
    </div>
  </div>
</div>