<div class="login d-flex">
  <div class="m-auto d-flex flex-column">
    <!-- Logo -->
    <div class="logo">
      <i class="bi bi-compass-fill"></i>
      emprenD
    </div>
    <div class="wrapper mb-3 d-flex flex-column">
      <label for="usuario" class="form-label ms-auto">Usuario</label>
      <input type="text" class="form-control" id="usuario" [(ngModel)]="usuario">
    </div>
    <div class="wrapper mb-4 d-flex flex-column">
      <label for="contrasena" class="form-label ms-auto">Contraseña</label>
      <input type="password" class="form-control" id="contrasena" [(ngModel)]="contrasena">
    </div>
    <button class="btn ms-auto" (click)="enviar()">
      {{ modoRegistro ? 'Registrarse' : 'Iniciar Sesión' }} <i class="bi bi-arrow-right"></i>
    </button>
    <p (click)="toggleModoRegistro()" class="mt-3 cursor-pointer">
      {{ modoRegistro ? '¿Ya tienes una cuenta? Inicia sesión aquí.' : '¿No tienes una cuenta? Regístrate aquí.' }}
    </p>
  </div>
</div>
