.share-ideas{
  background-color: #efefef;
  padding-bottom: 48px;
  .navbar {
    margin-bottom: 20px;
  }
  .share-ideas-box{
    margin-top: 80px;
    h2{
      font-family: 'Poppins', sans-serif;
      font-weight: 900;
      font-size: 26px;
      color: #333333;
      border: unset;
      border-bottom: 1px solid red;
    }
    button{
      background-color: #fe6261;
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
      font-size: 24px;
      color: #efefef;
      border-radius: 0;
      border: unset;
    }
  }
  .ideas-wapprer{
    background-color: #333333;
    padding: 80px;
    .idea-item {
      margin-bottom: 32px;
      &:last-child{
        margin-bottom: 0;
      }
      .profile{
        width: 80px;
        height: 80px;
        flex-shrink: 0;
        border-radius: 50%;
        margin: auto 24px auto 0;
        background-color: #efefef;
        display: flex;
        i{
          margin: auto;
          font-size: 48px;
          color: #fe6261;
        }
      }
      .idea-content {
        width: 100%;
        padding: 32px;
        background-color: #efefef;
        p{
          font-family: 'Poppins', sans-serif;
          font-weight: 300;
          font-size: 16px;
          color: #333333;
          margin-bottom: 0;
        }
      }
      .idea-footer {
        display: flex;
        font-size: 0.8rem;
        color: #777;
        margin-top: 8px;
        p{
          margin-bottom: 0;
          font-family: 'Poppins', sans-serif;
          font-weight: 300;
          font-size: 16px;
          color: #efefef;
        }
        p{
          &:first-child{
            margin-right: 16px;
          }
        }
      }
    }
  }
}
  