<div class="share-ideas">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <div class="logo">
          <i class="bi bi-compass-fill"></i>
          emprenD
        </div>
      </a>
      <div>nombre de usuario </div>
    </div>
  </nav>
  <div class="container mt-4">
    <h2 style="border-bottom: 2px solid red;">Comparte tu idea</h2>
    <textarea class="form-control" rows="5"></textarea>
    <button class="btn btn-primary mt-3">Share</button>
  </div>
  <div class="ideas-wapprer container mt-4">
    <div class="idea-item" *ngFor="let idea of ideas">
      <div class="d-flex">
        <div class="profile">
          <i class="bi bi-person-fill"></i>
        </div>
        <div class="idea-content">
          <p>{{ idea.texto }}</p>
        </div>
      </div>
      <div class="idea-footer justify-content-end">
        <p>{{ idea.fecha }}</p>
        <p>{{ idea.usuario }}</p>
      </div>
    </div>
  </div>
</div>
  