$color-primary: #fe6261;
$color-secondary: #333333;
$color-light: #efefef;
$font-primary: 'Poppins', sans-serif;

.share-ideas {
  background-color: $color-light;
  padding-bottom: 48px;
  min-height: 100vh;
  
  .navbar {
    margin-bottom: 20px;
    
    .navbar-brand {
      .logo {
        font-family: $font-primary;
        font-weight: 900;
        font-size: 26px;
        color: $color-secondary;
        
        i {
          color: $color-primary;
        }
      }
    }
    
    .dropdown {
      background-color: $color-primary;
      
      a {
        color: $color-light;
      }
      
      .dropdown-menu {
        li {
          a {
            color: $color-secondary;
            
            &:hover {
              cursor: pointer;
              background-color: $color-light;
            }
          }
        }
      }
    }
  }
  
  .share-ideas-box {
    margin-top: 80px;
    
    h2 {
      font-family: $font-primary;
      font-weight: 900;
      font-size: 26px;
      color: $color-secondary;
      border: unset;
      border-bottom: 1px solid $color-primary;
    }
    
    button {
      background-color: $color-primary;
      font-family: $font-primary;
      font-weight: 300;
      font-size: 24px;
      color: $color-light;
      border-radius: 0;
      border: unset;
    }
  }
  .ideas-wapprer{
    background-color: $color-secondary;
    padding: 80px;
    .idea-item {
      margin-bottom: 32px;
      &:last-child{
        margin-bottom: 0;
      }
      .profile{
        width: 80px;
        height: 80px;
        flex-shrink: 0;
        border-radius: 50%;
        margin: auto 24px auto 0;
        background-color: $color-light;
        display: flex;
        i{
          margin: auto;
          font-size: 48px;
          color: $color-primary;
        }
      }
      .idea-content {
        width: 100%;
        padding: 32px;
        background-color: $color-light;
        >div{
          flex-shrink: 0;
          button{
            border: unset;
            i{
              font-size: 18px;
              color: $color-primary;
            }
          }
        }
        p{
          font-family: $font-primary;
          font-weight: 300;
          font-size: 16px;
          color: $color-secondary;
          margin-bottom: 0;
        }
      }
      .idea-footer {
        display: flex;
        margin-top: 8px;
        p{
          margin-bottom: 0;
          font-family: $font-primary;
          font-weight: 300;
          font-size: 16px;
          color: $color-light;
        }
        p{
          &:first-child{
            margin-right: 16px;
          }
        }
      }
    }
  }
  .pagination-wrapper {
    .page-link {
      color: $color-primary;
      
      &:focus {
        box-shadow: none;
      }
    }
    
    .active {
      >.page-link {
        background-color: $color-secondary;
        border-color: $color-secondary;
        color: $color-light;
      }
    }
  }
}
  