<div class="share-ideas">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <div class="logo">
          <i class="bi bi-compass-fill"></i>
          emprenD
        </div>
      </a>
      <div class="nav-item dropdown p-2">
        <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ userData?.name }}
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
          <li><a class="dropdown-item" routerLink="/" routerLinkActive="active">Inicio</a></li>
          <li><a class="dropdown-item" (click)="logout()">Cerrar Sesión</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container share-ideas-box d-flex flex-column p-0">
    <h2 class="mb-4">Comparte tu idea</h2>
    <textarea class="form-control" rows="5" [(ngModel)]="newComment"></textarea>
    <button class="btn mt-4 ms-auto" (click)="addComment()"> Share <i class="bi bi-arrow-right"></i> </button>
  </div>
  <div class="container p-0">
    <div class="dropdown my-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Filtrar Comentarios
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" (click)="showAllComments()">Ver todos los comentarios</a></li>
        <li><a class="dropdown-item" (click)="filterMyComments()">Ver solo mis comentarios</a></li>
      </ul>
    </div>
  </div>
  <div class="ideas-wapprer container mt-4">
    <div class="idea-item" *ngFor="let idea of ideas">
      <div class="d-flex">
        <div class="profile">
          <i class="bi bi-person-fill"></i>
        </div>
        <div class="idea-content d-flex">
          <p *ngIf="!idea.isEditing; else inputTemplate">{{ idea.body }}</p>
          <ng-template #inputTemplate>
              <input class="form-control" [(ngModel)]="idea.editingValue" />
          </ng-template>
          <div class="ms-auto my-auto">
            <button *ngIf="!idea.isEditing" (click)="enableEditing(idea)"><i class="bi bi-pencil-fill"></i></button>
            <button *ngIf="idea.isEditing"  (click)="saveEdit(idea)"><i class="bi bi-floppy-fill"></i></button>
            <button (click)="deleteComment(idea.id)"><i class="bi bi-trash-fill"></i></button>
          </div>
        </div>
      </div>
      <div class="idea-footer justify-content-end">
        <p>{{ formatDate(idea.created_at) }}</p>
        <p>{{ idea.user.name }}</p>
      </div>
    </div>
  </div>
  <div class="pagination-wrapper container mt-4" *ngIf="showPagination">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="{'disabled': currentPage === 1}">
          <a class="page-link" href="#" (click)="previousPage(); $event.preventDefault()">Previous</a>
        </li>
        <li class="page-item" 
            *ngFor="let page of [].constructor(totalPages); let i = index"
            [ngClass]="{'active': i + 1 === currentPage}">
          <a class="page-link" href="#" (click)="goToPage(i + 1); $event.preventDefault()">{{ i + 1 }}</a>
        </li>
        <li class="page-item" [ngClass]="{'disabled': currentPage === totalPages}">
          <a class="page-link" href="#" (click)="nextPage(); $event.preventDefault()">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
  