<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <!-- Logo en el lado izquierdo -->
      <a class="navbar-brand" href="#">
        <div class="logo">
          <i class="bi bi-compass-fill"></i>
          emprenD
        </div>
      </a>
      <!-- Botón de hamburguesa para dispositivos móviles -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Enlaces en el lado derecho -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#header">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#us-section">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services-section">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#features-section">Caracteristicas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#team-force-section">Equipo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact-section">Contacto</a>
          </li>
          <li class="nav-item login">
            <a class="nav-link" href="/login">Login / Registro</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  