<div class="custom-card d-flex flex-column">
  <img src="{{ image }}" alt="Imagen de perfil">
  <h2>{{ title }}</h2>
  <p>{{ description }}</p>
  <div class="social-icons row">
    <i class="bi bi-twitter col-3"></i>
    <i class="bi bi-facebook col-3"></i>
    <i class="bi bi-linkedin col-3"></i>
    <i class="bi bi-envelope col-3"></i>
    <i class="bi bi-google col-3"></i>
    <i class="bi bi-youtube col-3"></i>
    <i class="bi bi-pinterest col-3"></i>
    <i class="bi bi-reddit col-3"></i>
  </div>
</div>