.custom-card {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #efefef;
  width: 297px;

  transition: background-color 0.3s, color 0.3s; /* Transición suave para el cambio de color */

  &:hover {
    background-color: #333333;
    color: white;
    h2{
      color: #fe6261;
    }
    .social-icons{
      i{
        color: #fe6261;
      }
    }
  }

  img{
      width: 165px;
      height: 165px;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
      margin: auto auto 32px auto;
  }

  h2 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin: auto auto 32px auto;
  }

  .red-line {
    border: 1px solid red;
    margin-top: 8px;
    margin-bottom: 16px;
  }

  p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 16px;
    margin: auto auto 32px auto;
  }
  .social-icons{
    i{
      font-size: 40px;
    }
  }
}
  