.form-title{
    p{
        color: red;
    }
}
form{
    >div{
        display: flex;
        i{
            font-size: 25px;
            color: red;
            margin-right: 16px;
        }
    }
    .btn{
        background-color: #fe6261;
        color: white;
    }
}